APP_ENV=dev
APP_SECRET=replace-with-a-random-local-secret
APP_PORT=8000
DEFAULT_URI=http://localhost:8000

POSTGRES_VERSION=16
POSTGRES_DB=korhazkapu
POSTGRES_USER=korhazkapu
POSTGRES_PASSWORD=korhazkapu
POSTGRES_PORT=5432
DATABASE_URL=postgresql://korhazkapu:korhazkapu@database:5432/korhazkapu?serverVersion=16&charset=utf8

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null
